
body {
    font-family: system-ui;
    background: #CAEBF2;
    color: black;
    text-align: center;
  }

header {
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
      position: absolute;
      width: 700px;
      height: 120px;
      background: #A1F0C1;
    }
  
main {  /*queria que esto se viera abajito como en el figma pero no lo he logrado hacer...*/
  position: absolute;
  justify-content: center;
  align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 323px;
    height: 24px;
    font-family: Rhodium Libre;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
  
  